/* Targets all thumbnails */ 
.thumbnail {
  width: 100%;
}

/* Targets all video titles */
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

/* Targets all video grid information */
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

/* Targets all profile pictures */
.profile-picture {
  width: 36px;
  border-radius: 50px;
}

/* Targets all thumbnail rows */
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

/* Targets all video authors as well as stats */
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

/* Targets all video authors */
.video-author {
  margin-bottom: 4px;
}

/* Targets all video grids */
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/* Used to create a responsive web page */
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  } 
}

@media (max-width: 999px) and (min-width: 751) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
 /* Targets all thumbnails video time */
.video-time {
  position: absolute;
  background-color: black;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  bottom: 8px;
  right: 5px;
  color: white;
}

/* Targets all links behind the titles and thumbnails */
.video-title-link {
  text-decoration: none;
  color: black;
}
