/* Create a sidebar of webpage */
.sidebar {
    position: fixed;
    left:0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    border-right: 1px solid rgb(228, 228, 228);
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
}

/* Targets all elements in sidebar of web page */
.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

/* Targets all images in sidebar of web page */
.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

/* Targets all divs in sidebar of web page */
.sidebar-link div {
    font-size: 10px;
}